.default-color0.chart-area-symbol { -fx-background-color: #000000, #000000; }

.default-color0.chart-series-area-line { -fx-stroke: #000000; }

.default-color0.chart-series-area-fill { -fx-fill: #000000; }